# Requirements for all systems
numpy>=2.0
pedalboard
pprofile
pyadl
requests
send2trash
sounddevice
soundfile
waiting

# Windows-specific requirement
pywin32; sys_platform == 'win32'
wmi; sys_platform == 'win32'